<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/components/charactercard/charactercard.css" />
    <title>Character Card</title>
  </head>
  <body>
    <section id="characters">
      <figure class="character__icon">
        <img
          src="https://rickandmortyapi.com/api/character/avatar/143.jpeg"
          alt="variable"
        />
        <figcaption>Glasses Morty</figcaption>
      </figure>
    </section>
  </body>
</html>
