.character__figures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.character__card {
  max-width: 14rem;
  background-color: red;
}

.character__card img {
  max-width: 100%;
  height: auto;
}

.character__card figcaption {
  text-align: center;
}
