.character__figures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.character__card {
  max-width: 20rem;
  background-color: black;
  cursor: pointer;
}

.character__card img {
  max-width: 100%;
  height: auto;
}

.character__card figcaption {
  text-align: center;
}
